.popup__overlay {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, .2);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-height: 30vh;

  background: rgba(255, 255, 255, 0.74);
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  border-radius: .8rem;
}

.popup__header, .popup__content, .popup__actions {
  padding: 1.2rem;
}

.popup__header {
  position: relative;

  border-bottom: .1rem solid lightgray;

  h3 {
    font-size: 1.4rem;
    text-align: center;
  }

  button {
    position: absolute;

    top: -2.4rem;
    right: -2.4rem;

    display: flex;
    align-content: center;
    height: 1.6rem;
    width: 1.6rem;

    object {
      pointer-events: none;
    }
  }
}

.popup__content-wrapper {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}

.popup__content {
  flex-grow: 1;
}

.popup__title {
  margin-bottom: 2.4rem;

  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.popup__description {
  display: flex;
  flex-direction: column;
  gap: .4rem;

  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}

.popup__actions {
  display: flex;
  justify-content: space-evenly;

  border-top: .1rem solid lightgray;
}
