.btn {
  padding: .8rem;

  min-width: 10rem;

  font-size: 1.2rem;

  border-radius: .8rem;
  transition: box-shadow .15s,transform .15s;

  &.btn--blue {
    color: #fff;

    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    &:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-1px);
    }
  }
  &.btn--red {
    color: #000;

    background-image: radial-gradient(100% 100% at 100% 0, #ff0000 0, #ff6e6e 100%);

    &:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #e03c3c 0 -3px 0 inset;
      transform: translateY(-1px);
    }
  }
}
